@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Outfit:wght@100;400&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Pen Script', cursive;
  list-style: none;
  /* border: 1px red solid; */
}
body{
  background-color: #000;
}

.navbar_mobil{
  width: 100%;
  position: relative;
  margin-bottom: 8%;
}
label{
  display: block;
  position: fixed;
  top: -20px;
  left: 0;
  width: 100%;
  height: 40px;
  cursor: pointer;
}
label input{
  appearance: none;
}
label .logo_menu{
  position: relative;
  display: block;
  width: 40px;
  height: 100%;
  margin: 20px;
  background: #c7c7c7;
  border-radius: 10px;
}
label .logo_menu::before{
  content: "\f0c9";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.2em;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input:checked ~ .navigation ul li a {
  display: block;
visibility: visible;
}
label input:checked ~ .logo_menu::before{
  content: "\f00d";
  background-color: red;
}
label input:checked ~ .navigation{
  min-height: 101vh;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin-top: -85px;
  transition: 0.5s;  
  background-image: url(img/fond_ecran/);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: red;
}
.navigation ul::before{
  position: relative;
}
.navigation ul {
  display: flex;
  align-items: center;
  height: 120px;
}
.navigation ul li{
  text-align: center;
  list-style: none;
}
.navigation ul li a{
  text-decoration: none;
  color: #333;
  font-size: 3em;
  padding: 5px 20px;
  font-weight: 700;
  transition: 0.5s;
  display: none;
}
.navigation ul li::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  border-radius: 50%;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  opacity: 1;
  transition: letter-spacing 0.5s, left 0.3s;
}
.navigation ul li a:hover::before{
  content: ""; 
  opacity: 1;
  letter-spacing: 10px;
  left: 50%;
  width: 3000px;
  background-color: red;

}
.navigation ul li:nth-child(1) a::before{
  background-color: yellow;
}
.navigation ul li:nth-child(2) a::before{
  background-color: rgb(238, 189, 97);
}
.navigation ul li:nth-child(3) a::before{
  background-color: rgb(184, 162, 67);
}
.navigation ul li:nth-child(4) a::before{
  background-color: rgb(76, 86, 221);
}
.navigation ul li:nth-child(5) a::before{
 background-image: url(img/Madara_red.jpg);
}
/* DESKTOP */
.color_nav{
  background-color: #000;
}
.naviguation_desktop{
  width: 100%;
  font-size: 30px;
}
.naviguation_desktop ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  font-size: 2em;
}
.naviguation_desktop ul li{
  list-style: none;
}
.naviguation_desktop ul a{
  text-decoration: none;
  color: white;
}
.naviguation_desktop ul a:hover{
  color: red;
}
.navbar_desktop ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itsme{
  color: red;
}
/* MAIN */
h1{
  color: red;
  text-align: center;
  padding: 40px;
}
.carousel {
  /* height: 80vh; */
  width: 50vw;
  position: relative;
  margin: auto;
  z-index: -2;
}
  .slide-1{
    max-width: 800px;
    margin: auto;
    overflow: hidden; 
    display: flex;
    
  }
  .slide-1 .slide{
    height: 100%;
    width: 100%;
    animation: slider 12s infinite ease-in-out;

  }
  img.test{
    width: 800px;
    height: 600px;
    flex-shrink: 0;
  }
/* FOOTER */
.foot{
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}
.foot p{
color: white;
padding: 0 15px 0 15px;
font-size: 30px;
}
.foot ul {
  color: white;
}
span{
  color: red;
}
/* about */
.about{
  color: white;
  background-color: #000;
text-align: center;
padding: 0 80px 0 80px;
font-size: 23px;
}
.about img{
  width: 50%;
  height: 70%;
}
.about h2{
  padding: 20px;
  text-transform: uppercase;
  color: red;
}
/* STORY */
.story{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 2% auto;
  width: 100%;
  gap : 2%;
}
.story img{
  height: 400px;
  width: 400px;
}
.story img:hover{
  opacity: 0.5;
}
.story a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  
}
.avatar{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
  color: rgb(226, 195, 17);

}
.page{
  font-size: 30px;
  color: #000;
  text-align: center;
  grid-column-start: 2;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* CONTACT */
.container_contact{
  display: flex;
  height: 71.2vh;
  background-color: #000;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 190px;
}
.contact input.submit{
  margin-top: 10%;
background-color: black;
color: red;
font-weight: 900;
border-radius: 10px;
border: 1px solid red;
cursor: pointer;
}
.contact input.submit:hover{
  background-color: red;
color: #000;
}
.container_contact .contact label {
  color: white;
  text-align: center;
  position: static;
  font-size: 1.5em;
  cursor:auto ;
}
.container_contact .contact input {
  padding: 10px;
  font-size: 1.2em;
}
.eyepurple{
 display: flex ;
 justify-content: center ;
 align-items: center ;

}
/* presentation */
.present{
  height: 51vh;
  color: white;
}


/* darkmode */
button.darkmode{
  height: 20px;
  width: 60px;
  padding: 10px 40px;
  display: flex; justify-content: center; align-items: center;
  font-size: 24px;
}
.darkmodetheme{
  background-color: white;
  }
.darkmode_title{
  color:rgb(44, 44, 116)

}
.tset{
  background-color: rgb(48, 48, 82);
}
/* ++ */

@keyframes slider {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45%{
    transform: translateX(-100%);
  }
  50%,
  75%{
    transform: translateX(-200%);
  }
  75%,
  95%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-400%);
  }}

/* @media (prefers-color-scheme: dark){
 body{
    color :#eee;
    background: #000;
  }
  a {
    color : #809fff;
  }
}
@media (prefers-color-scheme: light){
 body{
    color :black;
    background: white;
  }
  a {
    color : #809fff;
  }
} */


@media screen and (max-width: 920px){
  .navigation ul li a:hover{
    background-color: rgb(76, 86, 221);
  }
  .story{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }}
@media screen and (max-width:920px) and (min-width:671px) {
  .naviguation_desktop{
    display: none;
  }
  .navigation{
    background-color: #000;
  }
  .navigation ul li a{
    color: white;
  }
  .about h2 {
    font-size: 5em ;
  }}
@media screen and (min-width: 921px){
  .logo_menu.logo_menu::before{
    background-color: red;
    display: none; }
  .navbar_mobil{
    display: none;
  }}
@media screen and (max-width: 820px){
  .story{
    grid-template-columns: 1fr;
    /* height: 400vh; */
  }}
@media screen and (max-width: 670px) { 
  .naviguation_desktop{
    display: none;
}
.navigation{
  background-color: black;
}
.navigation ul li a{
  text-decoration: none;
  color: #333;
  visibility: hidden;
  font-size: 3em;
  padding: 5px 20px;
  font-weight: 700;
  transition: 0.5s;
}

}